body {
	margin: 0;
	padding: 0;
	font-family: 'Dr Sugiyama', cursive;
	font-family: 'Raleway', sans-serif;
	background-color: #F2F2F2;
}
.hero {
	display: flex;
	background-image: url('images/bg.jpg');
	background-size: cover;
	background-position: center;
	width: 100vw;
	height: 100vh;
	flex-direction: column;
	position: relative;

}
.lineDrawing {
	display: flex;
	flex-direction: column;
	align-items: center;
	margin: 0;
	width: 100%;
	height: auto;
	flex-wrap: wrap;
	align-items: center;
}
.lineDrawing svg {
	width: 70vw;
	height: 70vh;
}
.name {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	margin-top: -60px;
	animation-name: csstitleanimation;
	animation-duration: 4s;
	margin-top: -50px;
}
.offsetblock {
	display: flex;
	flex-direction:column;
	background-color: #5C5D67;
	flex-wrap: wrap;
	align-items: center;
	justify-content: center;
	width: 60vw;
	height: 15vh;
	margin: 0;

}
.nametext {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	font-family: 'Dr Sugiyama', cursive;
	font-size: 16vh;
	color: #FFC857;
	margin: 0;
}
.navlinks {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
	padding-top: 25px;
	animation-name: csstitleanimation;
	animation-duration: 4s;
}
.navlinks ul {
	margin: 5vh 0 0 0;
	animation-name: csstitleanimation;
	animation-duration: 4s;
}
.navlinks ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
	margin-top: 5vh;
	display: flex;
	width: 75vw;
	height: auto;
	flex-basis: 30%;
	justify-content: space-evenly;
}
.ullinks {
	text-decoration: none;
	color: #F2F2F2;
}
.ullinks:hover {
	text-decoration: underline;
	color: #FFC857;
}
.smalltriangle {
    border: solid #FFC857;
	margin-top: 10px;
	width: 10px;
	height: 10px;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
	transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	animation-name: csstitleanimation;
	animation-duration: 4s;
}
/*
About Me Section */
.aboutme {
	display: flex;
	flex-direction: column;
	width: 100vw;
	padding-top: 50px;
	scroll-behavior: smooth;
}
.abouttitle {
	display: flex;
	width:  100vw;
	flex-wrap: wrap;
	justify-content: flex-end;
}
.aboutblock {
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	width: 30vw;
	height: 10vh;
	background-color: #5C5D67;
	position: relative;
}
.aboutblock h2 {
	display: flex;
	flex-direction: column;
	font-family: 'Dr Sugiyama', cursive;
	font-size: 9vh;
	line-height: 0px;
	color: #FFC857;
	letter-spacing: 3px;
	padding-left: 4vw;
	padding-bottom: 4vh;
	margin: 0;
	font-weight: normal;
}
.aboutme2 {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
}
.aboutmepicture {
	display: flex;
	flex-direction: row;
	width: 40vw;
	flex-wrap: wrap;
}
.profilepic {
	display: flex;
	flex-direction: row;
	background-image: url('images/profile.jpg');
	background-size: cover;
	width: 90vw;
	height: 80vh;
	clip-path: circle(35% at 50% 40%);
	 -webkit-clip-path: circle(35% at 50% 40%);
	position: relative;
	z-index: 100;
	margin-top: 18vh;
	margin-left: 8vw;
}
.triangle1, .triangle2 {
	width: 0;
	height: 0;
}
.triangle1 {
	position: absolute;
	left: 50px;
	border-left: 20vw solid transparent;
	border-right: 20vw solid transparent;
	border-top: 30vw  solid #8B8BAE;
	z-index: 0;
}
.triangle2 {
	border-left: 20vw solid transparent;
	border-right: 20vw solid transparent;
	border-top: 30vw  solid rgba(139, 139, 174, 0.6);
	position: absolute;
	left: 100px;
	margin-top: -3vh;
	z-index: -10;
}
.textcolumn {
	display: flex;
	flex-direction:row;
	width: 70vw;
	padding: 10vw;
}

.aboutmetext p {
	font-size: 3vh;;
}
.aboutmetext span {
	color:#8B8BAE;
	font-weight: bold;
}
/* TIMELINE */

.maintimeline {
	display: flex;
	flex-direction:column;
	background-image: url('images/timeline.jpg');
	background-size: cover;
	width: 100vw;
	height: 175vh;
	position: relative;
	scroll-behavior: smooth;
}
.timelinecutout {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-top: 10vw  solid #F2F2F2;
	top: 0;
	left: 0;
}
.timelinecutout2 {
	position: absolute;
	width: 0;
	height: 0;
	border-left: 50vw solid transparent;
	border-right: 50vw solid transparent;
	border-bottom: 10vw  solid #F2F2F2;
	bottom: 0;
	left: 0;
}
.timelinetitleblock2{
	margin-top: 18vh;
	margin-left: 6vw;
	background-color: #8B8BAE;
	width: 40vw;
	height: 100px;
	-webkit-transform: skew(12deg) rotate(11.5deg);
	   -moz-transform: skew(10deg) rotate(11.5deg);
		 -o-transform: skew(10deg) rotate(11.5deg);
	 margin-bottom: 10vh;
}
.timelinetitleblock {
	margin-top: -25vh;
	margin-left: 5vw;
	background-color: #696D7D;
	width: 40vw;
	height: 100px;
	-webkit-transform: skew(12deg) rotate(11.5deg);
	   -moz-transform: skew(10deg) rotate(11.5deg);
	     -o-transform: skew(10deg) rotate(11.5deg);
	 margin-bottom: 10vh;
}
.timelinetitle {
	font-family: 'Dr Sugiyama', cursive;
	color: #FFC857;
	position: absolute;
	top: 10vh;
	left: 8vw;
	font-size: 10vh;
	z-index: 5;
}

.timeline {
	display: flex;
	flex-direction: column;
	justify-content: space-evenly;
	margin-top: 15vh;
}
.timeline::before{
    content: "";
    display: block;
    width: 3px;
    height: 60%;
    background: #8B8BAE;
    margin: 0 auto;
	margin-top: 45vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
}
.timelinebubble:nth-child(odd) {
	width: 16.5vw;
	height: 16.5vw;
	border-radius: 50%;
	background-color: #696D7D;
	position: relative;
	margin: -5vh 0 0 15vw;
}
.timelinebubble:nth-child(odd)::after {
	content: "";
	width: 113%;
	height: 3px;
	background: #8B8BAE;
	margin: auto 0;
	position: absolute;
	top: 0;
	left: 16.5vw;
	bottom: 0;
}
.timelinebubble:nth-child(even) {
	align-self: flex-end;
	width: 16.5vw;
	height: 16.5vw;
	border-radius: 50%;
	background-color: #696D7D;
	position: relative;
	margin: -5vh 15vw 0 0;
}
.timelinebubble:nth-child(even)::after {
	content: "";
	width: 112%;
	height: 3px;
	background: #8B8BAE;
	margin: auto 0;
	position: absolute;
	top: 0;
	right: 16.5vw;
	bottom: 0;
}
.timelinebubble h3 {
	position:absolute;
	top:50%; left:50%;
	transform: translate(-50%, -50%);
	margin:0;
	color: #F2F2F2;
	font-weight: normal;
	font-size: 2.9vh;
	text-align: center;
	text-align: -webkit-center;
}
.timelinebubble:hover {
	background-color: #8B8BAE;
}

/* PROCESS STYLING */
.process {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	scroll-behavior: smooth;
}
.processtitle {
	display: flex;
	width: 70vw;
	justify-content: flex-end;
}
.processtitle h2 {
	font-family: 'Dr Sugiyama', cursive;
	font-size: 9vh;
	line-height: 0px;
	color: #FFC857;
	margin-top: -4%;
	margin-bottom: 4%;
	font-weight: normal;
}
.processblock {
	display: flex;
	position: relative;
	width: 75vw;
	height: 55vh;
	background-color: #696D7D;
	color: #F2F2F2;
	font-size: 3vh;
	flex-direction: row;
	justify-content: space-around;
	align-items: center;

}
.subprocess {
	width: 30%;
	text-align: center;
	text-align: -webkit-center;
	padding: 4vh;
}
.subprocess img {
	padding-bottom: 3vh;
}
.processbgblock {
	background-color: #3D3D44;
	width: 45vw;
	height: 80vh;
	position: absolute;
	z-index: -10;
	right: 4.5vw;
}
/* SKILLS STYLING */
.skills {
	width: 100%;
	height: 100vh;
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: column;
	flex-wrap: nowrap;
	scroll-behavior: smooth;
}
.skillstitle {
	display: flex;
	width: 70vw;
	justify-content: flex-start;
}
.skillstitle h2 {
	font-family: 'Dr Sugiyama', cursive;
	font-size: 9vh;
	line-height: 0px;
	color: #FFC857;
	margin-top: -4%;
	margin-bottom: 4%;
	font-weight: normal;
}
.skillsblock {
	display: flex;
	position: relative;
	width: 75vw;
	height: 55vh;
	background-color: #696D7D;
	justify-content: space-between;
	align-items: center;
	flex-wrap: wrap;
	flex-direction: row;
}
.skillicon {
	display: flex;
	width: 30%;
	padding: 10px;
	justify-content: center;
}
.icon{
	width: 90px;
	height: 90px;
}
.skillsbgblock {
	background-color: #3D3D44;
	width: 45vw;
	height: 80vh;
	position: absolute;
	z-index: -10;
	left: 4.5vw;
}

/* PORTFOLIO STYLING */
.portfolio {
	width: 100%;
	height: 100vh;
	background-color: #3D3D44;
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	scroll-behavior: smooth;
	background-image: url('images/portfolio.jpg');
	background-size: cover;
}
.portfoliotitlerow {
	display: flex;
	width: 91vw;
	justify-content: flex-end;
	margin-top: 5vh;
}
.portfoliotitleblock {
	display: flex;
	justify-content: center;
	width: 35vw;
	height: 8vh;
	background-color: #696D7D;
}
.portfoliotitleblock h2 {
	font-family: 'Dr Sugiyama', cursive;
	font-size: 9vh;
	line-height: 0px;
	color: #FFC857;
	margin-top: 3%;
	margin-bottom: 0%;
	font-weight: normal;
}
.portfolioblock {
	background-color: #696D7D;
	position: relative;
	width: 50vw;
	height: 30vh;
	z-index: 5;
	display: flex;
	align-content: space-between;
	justify-content: center;
	flex-wrap: wrap;

}
.portfoliobgblock {
	width: 50vw;
	height: 30vh;
	position: absolute;
	left: 27vw;
	top: 45vh;
	background-color: #8B8BAE;
	z-index: 1;
}
.imgrow, .textrow {
	width: 70vw;
}
.imgrow {
	display: flex;
	justify-content: space-evenly;
	margin-top: -5vh;
}
.textrow {
	color: #F2F2F2;
	font-size: 3.5vh;
	text-align: center;
	text-align: -webkit-center;
	font-weight: thin;
}
.fab {
	color: #F2F2F2;
}
.fab:hover {
	color: #FFC857;
}
/* FIND ME  */
.findme {
	width: 100%;
	height: 100vh;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	align-items: center;
	scroll-behavior: smooth;
}

.findmetitlebar {
	display: flex;
	width:70vw;
	justify-content: flex-end;
	align-content: flex-end;
}
.findmetitleblock {
	background-color: #696D7D;
	width: 30vw;
    height: 12vh;
	margin-top: -10vh;
}
.findmetitleblock h2 {
	font-family: 'Dr Sugiyama', cursive;
	font-size: 9vh;
	line-height: 0px;
	margin-bottom: 4%;
	text-align: center;
	text-align: -webkit-center;
	color: #FFC857;
	font-weight: normal;
}
.findmeblock {
	background-color: #3D3D44;
	width: 80vw;
	height: 30vh;
	position: relative;
	display: flex;
	justify-content: space-evenly;
	align-items: center;
	margin-top: -35vh;
}
.fas {
	color: #F2F2F2;
}
.fas:hover {
		color: #FFC857;
}
.decorbar {
	background-color:#8B8BAE;
	position: absolute;
	z-index: -1;
	height: 65vh;
	width: 8vw;
	left: 15vw;
	top: 25vh;
}


/* FOOTER */
.footer {
	margin-top: 10vh;
	text-align: center;
	text-align: -webkit-center;
	padding: 10px;
	font-size: 1.5vh;
	background-color: #8B8BAE;
	color: #F2F2F2;
}
.footerlink {
	text-decoration: none;
	color: #FFC857;
}
.footerlink:visited {
	text-decoration: none;
	color: #3D3D44;
}

/* CSS ANIMATIONS */
@keyframes csstitleanimation {
	0%{opacity: 0}
    55%{opacity: 0}
    100% {opacity: 1}
}
/* MEDIA QUERIES */
@media only screen and (max-width: 1370px) {
.nametext {
	font-size: 12vh;
}
@media only screen and (max-width: 1250px) {
	.processtitle, .skillstitle {
		margin-bottom: 4.5%;
	}
	.profilepic {
		clip-path: circle(30% at 50% 35%);
		 -webkit-clip-path: circle(30% at 50% 35%);
		margin-left: 2vw;
	}.timelinebubble h3 {
		font-size: 3vh;
		text-align: center;
		text-align: -webkit-center;
	}

/* IPAD PRO */
@media only screen and (max-width: 1024px) {
    .nametext {
        font-size: 10vh;
    }
	.aboutme2 {
		flex-wrap: wrap;
		justify-content: center;
		}
	.aboutblock {
		width: 50vw;
	}
	.aboutmepicture {
		width: 70vw;
		height: 80vh;
		justify-content: center;
		align-items: center;
	}
	.triangle1, .triangle2,.portfoliobgblock {
		display: none;
		}
	.textcolumn {
		margin-top: -25vh;
		text-align: center;
		}
	.maintimeline {
		height: 150vh;
	}
	.timelinetitleblock {
		margin-top: -20vh;
	}
	.timeline {
		margin-top: 0vh;
	}
	.timeline::before {
		height: 60%;
	}
	.timelinebubble:nth-child(odd) {
		width: 30vw;
		height: 30vw;
	}
	.timelinebubble:nth-child(odd)::after {
		width: 44%;
		left: 30vw;
	}
	.timelinebubble:nth-child(even) {
		 width: 30vw;
		 height: 30vw;
	}
	.timelinebubble:nth-child(even)::after {
		width: 43%;
		right: 30vw;
	}
	.timelinebubble h3 {
		font-size: 2.5vh;
		}
	.processblock {
		font-size: 2vh;
		}
/* IPAD */
@media only screen and (max-width: 768px) {
	.aboutblock h2, .processtitle h2, .skillstitle h2, .portfoliotitleblock h2 {
		font-size: 6vh;
	}
	.maintimeline {
		height: 125vh;
	}
	.timeline::before {
		height: 60%;
	}
	.timelinebubble h3 {
		font-size: 2vh;
		}
	.skillsblock {
		height: 75vh;
	}
	.skillsbgblock {
		height: 90vh;
	}
	}

@media only screen and (max-width: 700px) {
	.processblock, .skillsblock {
		width: 90vw;
		flex-direction: row;
		font-size: 3vh;
	}
	.findmetitleblock {
		width: 40vw;
	}
	.processbgblock, .skillsbgblock {
		height: 100vh;
		width: 100vw;
		left: 0;
		right: 0;
	}
	.skillicon {
		width: 40%;
	}
	.icon {
		width: 100px;
		height: 100px;
	}
@media only screen and (max-width: 600px) {
		.aboutblock {
			width: 40vw;
		}
		.aboutme2 {
			flex-wrap: wrap;
		}
		.aboutmepicture {
			width: 100vw;
			height: 80vh;
			justify-content: center;
			align-items: center;
		}
		.profilepic {
			width: 100vw;
			height: 80vh;
			margin: 0;
			clip-path: circle(30% at 50% 40%);
			-webkit-clip-path: circle(30% at 50% 40%);
		}
		.maintimeline {
			height: 130vh;
		}
		.timeline::before {
			height: 60%
		}
		.timeline::before {
			margin: 0 3vw;
			margin-top: 35vh;
		}
		.timelinebubble:nth-child(odd) {
			align-self: flex-start;
			width: 30vw;
			height: 30vw;
			margin: 25px 0 0 60vw;
		}
		.timelinebubble:nth-child(odd)::after {
			width: 189%;
			left: -56.5vw;
		}
		.timelinebubble:nth-child(even) {
			align-self: flex-start;
			width: 30vw;
			height: 30vw;
			margin: 25px 0 0 60vw;
		}
		.timelinebubble:nth-child(even)::after {
			width: 189%;
			right: 30vw;
		}
		.process, .skills {
			height: 175vh;
		}
		.processblock, .skillsblock {
			height: 150vh;
		}
		.processbgblock, .skillsbgblock {
			height: 175vh;
		}
		.processblock {
			flex-direction: column;
		}
		.skillicon {
			width: 100%;
			height: auto;
		}
		.skillicon img {
			width: 100px;
			height: 100px;
		}
	}
@media only screen and (max-width: 500px) {
		.profilepic {
			clip-path: circle(30% at 45% 40%);
			-webkit-clip-path: circle(30% at 45% 40%);
		}
		.portfoliotitleblock h2{
			font-size: 6vh;}
	}
@media only screen and (max-width: 450px) {
		.aboutblock {
			width: 50vw;
		}
        .nametext {
            font-size: 6vh;
        }
		.profilepic {
			margin-top: 10vh;
			clip-path: circle(30% at 50% 30%);
			-webkit-clip-path:circle(30% at 50% 30%);
		}
		.findmetitleblock {
			width: 50vw;
		}
}
/* PIXEL */
@media only screen and (max-width: 411px) {
	.timelinetitleblock {
		margin-top: -22.5vh;
		height: 80px;
	}
	.timelinetitleblock2 {
		height: 80px;
	}
}
/* iPHONE X */
	@media only screen and (max-width: 375px) {
		.profilepic {
			height: 80vh;
		}
		.textcolumn {
			text-align: center;
			width: 100vw;
			margin-top: -25vh;
		}
		.findmetitleblock {
			width: 100vw;
		}
		.aboutblock h2 {
			font-size: 6vh;
		}
		 .maintimeline {
			height: 115vh;
		}
		.imgrow {
			font-size: .75em;
		}
		.process {
			margin-top: 2vh;
		}
		.processblock {
			height: 155vh;
		}
		.skills {
			margin-top: 2vh;
		}
		.portfolioblock {
			margin-top: -15vh;
		}
		.findmeblock {
			font-size: .75em;
		}
		.decobar {
			height: 60vh;
			top: 30vh;
			width: 15vw;
		}
}
/* GALAXY NOTE III */
	@media only screen and (max-width: 360px) {
		.maintimeline {
			height: 140vh;
		}
}
/* iPhone 5/SE */
	@media only screen and (max-width: 360px) {
		.timelinetitleblock {
			margin-top: -19.5vh;
			height: 45px;
		}
		.timelinetitleblock2 {
			height: 45px;
		}
}
